<footer class="footer block1">
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <p>
                    Представленная на сайте информация не содержит существенных условий договора, носит справочный
                    характер и не является публичной офертой определяемой положениями ст. 437 Гражданского Кодекса
                    Российской Федерации.
                </p>
                <p>
                    Для получения более подробной информации просьба обращаться в ООО “Нева-сервис” или по телефону <a
                        href="tel:74922431263">+7
                        (4922) 43-12-63</a>.
                </p>
                <p>
                    Опубликованная на данном сайте информация может быть изменена в любое время без предварительного
                    уведомления.
                </p>
            </div>
            <div class="footer__center">
                <a href="#" class="footer__logo">
                    <img src="img/logo.webp" alt="">
                </a>
                <p>
                    © 2021 ООО «Нева-Сервис»
                    <br>
                    Официальный дистрибьютор HISUN в России
                </p>
            </div>
            <div class="footer__right">
                <a href="/politic/">Политика обработки персональных данных</a>
                <a href="#">Согласие на рекламную коммуникацию</a>
                <a href="/requisites.docx" target="_blank" download="">Скачать реквизиты</a>
            </div>
        </div>
    </div>
</footer>