@font-face {
    font-family: EuropeC;
    src: url("../fonts/EuropeC.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: EuropeCondensedC;
    src: url("../fonts/EuropeCondensedC.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: EuropeCondensedC;
    src: url("../fonts/EuropeCondensedC-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: EuropeCondensedC;
    src: url("../fonts/EuropeCondensedC-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: EuropeCondensedC;
    src: url("../fonts/EuropeCondensedC-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
