.footer {
    background: #232323;
    .container {
        max-width: 1200px;
    }
    // .footer__content

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px 20px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }
        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
            color: #8c8c8c;
            a {
                transition: color 0.3s;
                &:hover {
                    color: #fff;
                }
            }
            @media (max-width: 992px) {
                text-align: center;
            }
        }
        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
            color: #8c8c8c;
            transition: color 0.3s;
            &:hover {
                color: #fff;
            }
        }
    }

    // .footer__left

    &__left {
        flex: 0 1 420px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
        }
    }

    // .footer__center

    &__center {
        flex: 0 1 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 50px;
        margin: 0px 0px 10px 0px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            margin: 0px 0px 0px 0px;
            gap: 20px;
        }
        p {
            text-align: center;
        }
    }

    // .footer__logo

    &__logo {
        display: flex;
        flex: 1 1 auto;
        img {
            height: 60px;
            width: auto;
            @media (max-width: 768px) {
                height: 50px;
            }
            @media (max-width: 480px) {
                height: 40px;
            }
        }
    }

    // .footer__right

    &__right {
        flex: 0 1 246px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        margin: 0px 0px 17px 0px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            margin: 0px 0px 0px 0px;
        }
        a {
            width: 100%;
            text-align: right;
            @media (max-width: 992px) {
                text-align: center;
            }
        }
    }
}
