.header {
  position: relative;
  background: #232323;
  z-index: 50;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 53%;
    height: 100%;
    left: 0;
    background-color: #000;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
    @media (max-width: 992px) {
      display: none;
    }
  }
  // .header__content

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0px;
    @media (max-width: 768px) {
      padding: 20px 0px;
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    margin: 0px 0px 0px 120px;
    @media (max-width: 1440px) {
      margin: 0px 0px 0px 0px;
    }
    img {
      height: 35px;
      width: auto;
      @media (max-width: 768px) {
        height: 25px;
      }
      @media (max-width: 400px) {
        height: 20px;
      }
    }
  }

  // .header__button

  &__button {
    padding: 5px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    background-color: #670d22;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    gap: 10px;
    transition: opacity 0.3s;
    @media (max-width: 768px) {
      min-height: 46px;
      font-size: 16px;
      padding: 5px 20px;
    }
    @media (max-width: 400px) {
      min-height: 40px;
      font-size: 14px;
      padding: 5px 15px;
    }
    img {
      width: 12px;
      height: 24px;
      @media (max-width: 768px) {
        height: 18px;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
